@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>

    <link href="~/Areas/Admin/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Areas/Admin/Content/animate.css" rel="stylesheet">
    <link href="~/Areas/Admin/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    @RenderBody()



    @Scripts.Render("~/admin/bundles/jquery")

    @RenderSection("scripts", required: false)


</body>

</html>


