<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @{
        ViewBag.title = "Hata";
        ViewBag.bilgi = "Hata";
    }
</head>
<body>
    <hgroup>

        <h2>
            İşlem sırasında bir hata oluştu, teknik ekibimiz bu konuda bilgilendirildi.
            <br /> Lütfen <a href="/">buradan </a>devam ediniz.
        </h2>
    </hgroup>
</body>
</html>
