@model Mobit.Models.BodyModel

<hr class="solid tall">
@* alt haberler *@
<div class="row">


    @{
        foreach (var item in Model.Haberler)
        {
            <div class="col-md-4">
                <div class="heading heading-primary heading-border heading-bottom-border">
                    <h1 class="heading-primary">@item.Ad</h1>
                </div>
                <aside class="sidebar">
                    <ul class="simple-post-list">
                        @foreach (var haberler in item.Haberler.OrderByDescending(h => h.Id).Take(10))
                        {
                            <li>
                                <div class="post-image">
                                    <div class="img-thumbnail">
                                        <a href="#.">
                                            <img src="~/Upload/haber/@haberler.Resim" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="post-info">
                                    <a href="blog-post.html">@haberler.Ad</a>
                                    <div class="post-meta">
                                        @haberler.Tarih.ToShortDateString()
                                    </div>
                                </div>
                            </li>
                        }


                    </ul>


                </aside>
            </div>
        }

    }
    <div class="col-md-4">
        <aside class="sidebar">
            <div class="heading heading-primary heading-border heading-bottom-border">
                <h1 class="heading-primary">En İyi Okullar</h1>
            </div>
            <div class="owl-carousel owl-theme show-nav-hover" data-plugin-options='{"items": 2, "margin": 2, "loop": true, "nav": false, "dots": true,"autoplay": true, "autoplayTimeout": 3000}'>
                <div>
                    <img alt="" class="img-responsive img-thumbnail" src="~/Upload/images/project.jpg">
                </div>
                <div>
                    <img alt="" class="img-responsive img-thumbnail" src="~/Upload/images/project.jpg">
                </div>
                <div>
                    <img alt="" class="img-responsive img-thumbnail" src="~/Upload/images/project.jpg">
                </div>
                <div>
                    <img alt="" class="img-responsive img-thumbnail" src="~/Upload/images/project.jpg">
                </div>
                <div>
                    <img alt="" class="img-responsive img-thumbnail" src="~/Upload/images/project.jpg">
                </div>
            </div>


            <div class="heading heading-primary heading-border heading-bottom-border">
                <h1 class="heading-primary">En İyi Yöneticiler</h1>
            </div>
            <div class="owl-carousel owl-theme show-nav-hover" data-plugin-options='{"items": 2, "margin": 2, "loop": true, "nav": false, "dots": true,"autoplay": true, "autoplayTimeout": 3000}'>
                <div>
                    <img alt="" class="img-responsive img-thumbnail" src="~/Upload/images/project.jpg">
                </div>
                <div>
                    <img alt="" class="img-responsive img-thumbnail" src="~/Upload/images/project.jpg">
                </div>
                <div>
                    <img alt="" class="img-responsive img-thumbnail" src="~/Upload/images/project.jpg">
                </div>
                <div>
                    <img alt="" class="img-responsive img-thumbnail" src="~/Upload/images/project.jpg">
                </div>
                <div>
                    <img alt="" class="img-responsive img-thumbnail" src="~/Upload/images/project.jpg">
                </div>
            </div>

            <div class="heading heading-primary heading-border heading-bottom-border">
                <h1 class="heading-primary"></h1>
            </div>
            <div class="owl-carousel owl-theme show-nav-hover" data-plugin-options='{"items": 2, "margin": 2, "loop": true, "nav": false, "dots": true,"autoplay": true, "autoplayTimeout": 3000}'>
                <div>
                    <img alt="" class="img-responsive img-thumbnail" src="~/Upload/images/project.jpg">
                </div>
                <div>
                    <img alt="" class="img-responsive img-thumbnail" src="~/Upload/images/project.jpg">
                </div>
                <div>
                    <img alt="" class="img-responsive img-thumbnail" src="~/Upload/images/project.jpg">
                </div>
                <div>
                    <img alt="" class="img-responsive img-thumbnail" src="~/Upload/images/project.jpg">
                </div>
                <div>
                    <img alt="" class="img-responsive img-thumbnail" src="~/Upload/images/project.jpg">
                </div>
            </div>

        </aside>
        <br />
        <div>
            <img class="img-responsive img-thumbnail" src="https://placehold.it/500x150" width="100%" alt="">
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-4">
        <div class="heading heading-primary heading-border heading-bottom-border">
            <h4 class="heading-primary">Ocak Ayının En İyi Anaokulu</h4>
        </div>
        <div class="portfolio-item">
            <a href="portfolio-single-small-slider.html">
                <span class="thumb-info thumb-info-lighten">
                    <span class="thumb-info-wrapper">
                        <img src="https://placehold.it/390x300" class="img-responsive" alt="">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">Okul Adı</span>
                            <span class="thumb-info-type">Şehir Adı</span>
                        </span>
                        <span class="thumb-info-action">
                            <span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                        </span>
                    </span>
                </span>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="heading heading-primary heading-border heading-bottom-border">
            <h4 class="heading-primary">Ocak Ayının En İyi Koleji</h4>
        </div>
        <div class="portfolio-item">
            <a href="portfolio-single-small-slider.html">
                <span class="thumb-info thumb-info-lighten">
                    <span class="thumb-info-wrapper">
                        <img src="https://placehold.it/390x300" class="img-responsive" alt="">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">Okul Adı</span>
                            <span class="thumb-info-type">Şehir Adı</span>
                        </span>
                        <span class="thumb-info-action">
                            <span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                        </span>
                    </span>
                </span>
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="heading heading-primary heading-border heading-bottom-border">
            <h4 class="heading-primary">Ocak Ayının En İyi Üniversitesi</h4>
        </div>
        <div class="portfolio-item">
            <a href="portfolio-single-small-slider.html">
                <span class="thumb-info thumb-info-lighten">
                    <span class="thumb-info-wrapper">
                        <img src="https://placehold.it/390x300" class="img-responsive" alt="">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">Okul Adı</span>
                            <span class="thumb-info-type">Şehir Adı</span>
                        </span>
                        <span class="thumb-info-action">
                            <span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                        </span>
                    </span>
                </span>
            </a>
        </div>
    </div>
</div>