@* alt slider alanı *@
<div class="col-md-8">
    slider alanı
</div>
@* sağ reklam alanı *@
<div class="col-md-4">
    <div class="col-md-12">
        <img class="img-responsive" src="http://toana.vn/wp-content/uploads/2016/11/header-background.png" width="%100" alt="">
 
    </div>
    <div class="row" style="margin:5px;">
        <div class="col-md-6">
            <img class="img-responsive" src="http://toana.vn/wp-content/uploads/2016/11/header-background.png" width="%100" alt="">
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="http://toana.vn/wp-content/uploads/2016/11/header-background.png" width="%100" alt="">
        </div>
    </div>

</div>

@* slider altı reklam *@
<div class="row">
    <div class="col-md-12">
        <img class="img-responsive" src="http://toana.vn/wp-content/uploads/2016/11/header-background.png" width="%100" alt="">
    </div>
</div>