@model List<Mobit.Data.Context.HaberlerResim>
    <div class="container">

        <div class="row">
            <div class="col-md-7">
                <center>
                    <div class="owl-carousel owl-theme show-nav-hover" data-plugin-options='{"items": 1, "margin": 10, "loop": true, "nav": true, "dots": true,"autoplay": true, "autoplayTimeout": 1000,"autoplayHoverPause": true}'>
                        @foreach (var item in Model)
                        {
                            <div class="lightbox" >
                                <a href="~/Upload/galeri/@item.Resim">
                                    <span class="thumb-info thumb-info-lighten">
                                        <span class="thumb-info-wrapper">
                                            <img alt="@item.Haberler.Ad" title="@item.Haberler.Ad" class="img-responsive img-thumbnail" src="~/Upload/galeri/@item.Resim" style="width:100%;height:400px;">
                                        </span>
                                    </span>
                                </a>
                            </div>
                        }
                    </div>
                </center>
            </div>

        </div>


    </div>
