﻿<header id="header" data-plugin-options='{"stickyEnabled": false, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 1, "stickySetTop": "1", "stickyChangeLogo": true}'>
    <div>
        @{Html.RenderAction("HeaderReklam", "Home"); }
    </div>
    <div class="tp-caption main-label">
        @{Html.RenderAction("Menu", "Home"); }
    </div>

</header>
