
<header id="header" data-plugin-options='{"stickyEnabled": false, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": true}'>
    <div>
        @{Html.RenderAction("HeaderReklam", "Home"); }
    </div>
    <div class="header-body">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    @if (ViewBag.Logo != null)
                    {
                        /**/
                        <div class="header-logo">
                            <a href="/">
                                <img alt="" title="" width="90" height="33" data-sticky-width="90" data-sticky-height="36" data-sticky-top="33" src="~/Upload/images/@ViewBag.Logo">
                            </a>
                        </div>
                    }
                </div>
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-nav">
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                                <i class="fa fa-bars"></i>
                            </button>
                            @{Html.RenderAction("Menu", "Home"); }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
