

<style type="text/css">
    .holder {
        position: relative;
        height: 300px;
        width: 300px;
    }

    .holder2 {
        position: relative;
        height: 215px;
        width: 300px;
        overflow: hidden;
    }

    .group1 {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }

    .group2 {
        position: absolute;
        left: 0px;
        top: 50px;
        width: 100%;
        max-width: 100%;
    }

    .blue {
        background-color: blue;
    }

    .yellow {
        background-color: yellow;
    }

    .red {
        background-color: red;
    }

    .box {
        background: transparent;
        border: black solid 4px;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 292px;
        height: 292px;
    }

    .box2 {
        background: transparent;
        border: black solid 4px;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 292px;
        height: 207px;
    }


    .trans-spec {
        -moz-transition: opacity 4s;
        -webkit-transition: opacity 4s;
        -o-transition: opacity 4s;
        transition: opacity 4s;
    }

    .fast {
        -moz-transition: opacity .2s;
        -webkit-transition: opacity .2s;
        -o-transition: opacity .2s;
        transition: opacity .2s;
    }
</style>

@*<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#defaultModal">
        Launch Default Modal
    </button>*@
   ﻿@model List<Mobit.Data.Context.Slider>
<div class="modal fade" name="defaultModal" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:800px; height:450px; ">
        <div class="modal-content">

            <div id=gazze name=gazze style="position:absolute;width:800px; height:450px; text-align:center;">
                <div class="modal-header">
                    <span class="modal-title"><strong style="font-size:20px;color: #FFFFFF;"> <span id="span1" style="color: #ff0000;font-size:20px;"> </span> Saniye sonra Kapanacaktır</strong><button type="button" class="close" data-dismiss="modal" style="font-size:20px;color: #FFFFFF;"><h1 style="color: #FFFFFF;">&times;</h1></button></span>
                </div>
                <div>
                    <div class="slideshow2">
                        @foreach (var item in Model.Where(s => s.SliderId == 18).OrderBy(s => s.Sira))
                        {
                            <img src="~/Upload/slide/@item.Resim" alt="@item.Resim"
                                 data-bgposition="center center"
                                 data-bgfit="cover"
                                 data-bgrepeat="no-repeat"
                                 class="group2" style="width:800px; height:450px">
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        var sure = 11;   //  Geri sayım sayacının başlayacağı rakam
        function Kontrol() {
            sure = sure - 1;
            $("#span1").text(sure); // <span id="1"> </span> olan yerde geri sayım yapacaktır
            if (sure > 0) setTimeout("Kontrol()", 1000);
        }

        jQuery(document).ready(function () {
            kapat = (sure - 1) * 1000;
            Kontrol();
            setTimeout(function () {
                $("#defaultModal").modal('hide');
                $("#gazze").modal('hide');
            }, kapat); // Popup burda kapanıyor
        });
        window.setTimeout("Kontrol()", 10000);
</script>
<script src="~/Scripts/shiner.js"></script>
<script src="~/Scripts/shiner.min.js"></script>
<script>
        $(document).ready(function () {
            $('#defaultModal').modal('show');
        });
</script>

<script type="text/javascript">
        //	$('.slideshow .group1').shiner({ transClass: 'fast', delay: 4000});
        $('.slideshow2 .group2').shiner({ transClass: 'trans-spec', delay: 5000 });
</script>




