@model Mobit.Data.Context.Popup
@if (Model != null)
{

        @*<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#defaultModal">
                Launch Default Modal
            </button>*@

        <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    @Html.Raw(Model.Aciklama)
                </div>
            </div>
        </div>

    <script>
        $(document).ready(function () {
            $('#defaultModal').modal('show');
        });
    </script>

}


