
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <h4 class="heading-primary"><strong>Bilgi</strong> </h4>

            <ul class="nav nav-list mb-xlg">
                <li class=""><a href="/">Ana Sayfa</a></li>

            </ul>
        </div>
        <div class="col-sm-9 col-md-9">

            <h4>Sayfa Bulunamadı</h4>

            <div class="well">
                <h4 class="center">
                    Değerli ziyaretçimiz, aradığınız sayfayı bulamadık.<br />
                    <a href="/"> Ana Sayfa</a>'ya dönebilirsiniz.
                </h4>
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    @*@Html.Partial("/Views/_Partial/_Arama.cshtml")*@
                </div>
                <div class="col-md-3">
                </div>
                <br />
                <br />
            </div>

        </div>
    </div>
</div>