@model List<Mobit.Data.Context.Slider>
<div class="header-top header-top-style-2">
    <div class="slider-container rev_slider_wrapper">
        <div id="revolutionSlider">
                @foreach (var item in Model)
            {
                        <a href="@item.Url" target="@item.Target">
                            <img src="~/Upload/slide/@item.Resim"
                                 alt="@item.Baslik"
                                 title="@item.Baslik"
                                 data-bgposition="center center"   
                                 data-bgfit="cover"
                                 data-bgrepeat="no-repeat"
                                 class="rev-slidebg" style="width:100%; height:100%">
                        </a>
                }
        </div>
    </div>

</div>
    