@using Mobit.Helpers
<div id="searchForm">
    <div class="input-group">

        <input type="text" id="txtSearch" class="form-control" name="q" placeholder="Ara..." required>
        @*<input type="text" class="form-control" name="q" id="txtSearch" placeholder="Ara..." required>*@
        <span class="input-group-btn">
            <button class="btn btn-default" id="srcButton" type="submit"><i class="fa fa-search"></i></button>
        </span>
    </div>


    <div class="divResult" id="searchDiv"></div>

</div>


<style>
    .divResult {
        width: 90%;
        background-color: #ffffff;
        -moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px#888;
        box-shadow: 0 0 5px #888;
        position: absolute;
        z-index: 2;
    }
</style>


@*
    <<!-- HTML for SEARCH BAR -->
    <div id="searchHead">
        <form id="tfnewsearch">
            <table>
                <tr>
                    <td>
                        <input type="text" id="txtSearch" class="tftextinput2" name="q" size="21" maxlength="120" value="Detaylı ara?"><input type="button" value=">" class="tfbutton2" id="srcButton">
                    </td>
                </tr>
                <tr style="background-color:#C7DDE2">
                    <td>
                        <div class="divResult" id="searchDiv"></div>
                    </td>
                </tr>
            </table>
        </form>
    </div>



        style type="text/css">
            #searchHead {
                background-color: #c3dfef;
            }

            #tfheadsearch {
                float: left;
                padding: 20px;
                font-style: italic;
                font-family: 'Arial Rounded MT';
                color: purple;
                font-size: xx-large;
            }

            #tfnewsearch {
                float: right;
                padding: 20px;
            }

            .tftextinput2 {
                margin: 0;
                padding: 5px 15px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                color: #666;
                border: 1px solid #0076a3;
                border-right: 0px;
                border-top-left-radius: 5px 5px;
                border-bottom-left-radius: 5px 5px;
            }

            .tfbutton2 {
                margin: 0;
                padding: 5px 7px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: bold;
                outline: none;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                color: #ffffff;
                border: solid 1px #0076a3;
                border-right: 0px;
                background: #0095cd;
                background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
                background: -moz-linear-gradient(top, #00adee, #0078a5);
                border-top-right-radius: 5px 5px;
                border-bottom-right-radius: 5px 5px;
            }

                .tfbutton2:hover {
                    text-decoration: none;
                    background: #007ead;
                    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
                    background: -moz-linear-gradient(top, #0095cc, #00678e);
                }
                /* Fixes submit button height problem in Firefox */
                .tfbutton2::-moz-focus-inner {
                    border: 0;
                }

            .divResult {
                clear: both;
            }
        </style>*@



<script src="/Scripts/vendor/jquery/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var searchboxID = "#txtSearch";
        $('#srcButton').click(function () {
            $(searchboxID).keyup();
        });
        $(searchboxID).keyup(function (event) {
            if (event.keyCode != 13 && event.keyCode != 37 && event.keyCode != 39) {
                if ($.trim($(searchboxID).val()).length > 2) {

                    delay(function () {

                        var options = {};
                        options.url = '/Home/Arama',
                options.type = "POST";
                        options.data = "{searchKey:'" + $(searchboxID).val() + "'}",
                        options.contentType = "application/json; charset=utf-8",
                        options.success = function (result) {
                            $("#searchDiv").html(result);
                            $("#searchDiv").show();
                        };
                        options.error = function (err) {
                            if (err.status == 500) {
                                //window.location.href = "/Home";
                            } else {
                                if (err.status != 0) {
                                    alert(err.statusText);
                                }
                            }
                        };
                        $.ajax(options);
                    }, 500);
                } else {
                    $("#searchDiv").hide();
                }
            }
        });
    });

    var delay = (function () {
        var timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        };
    })();

    function DidYouMean() {
        var text = $("#Did").text();
        $("#txtSearch").val(text);

        var searchboxID = "#txtSearch";

        delay(function () {

            var options = {};
            options.url = '/Home/Arama',
    options.type = "POST";
            options.data = "{searchKey:'" + $(searchboxID).val() + "'}",
            options.contentType = "application/json; charset=utf-8",
            options.success = function (result) {
                $("#searchDiv").html(result);
                $("#searchDiv").show();
            };
            options.error = function (err) {
                if (err.status == 500) {
                    //window.location.href = "/Home";
                } else {
                    if (err.status != 0) {
                        alert(err.statusText);
                    }
                }
            };
            $.ajax(options);
        }, 500);
    }

    //$(function () {
    //    $("#txtSearch").click(function () {
    //        if ($("#txtSearch").val() == "Detaylı ara?") {
    //            $("#txtSearch").val("");
    //        }
    //    });
    //    $("#txtSearch").blur(function () {
    //        if ($("#txtSearch").val().trim() == "") {
    //            $("#txtSearch").val("Detaylı ara?");
    //        }
    //    });
    //});

    $(".body").click(function () {
        $("#searchDiv").hide();
    });

</script>
