@{
    ViewBag.Title = "Yetkisiz Giriş";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Bu alana giriş yetkiniz bulunmamaktadır.<a href="/Admin/Home"> Ana Sayfa</a> ya dönebilirsiniz.</h2>

